In [1]:
5//2

2

In [2]:
5/2

2.5

In [3]:
 type(4/2)

float

In [4]:
type("")

str

In [7]:
a=15
b=25
c=a+b
c

40

In [10]:
type(2)
c

40

In [11]:
True or False

True

In [12]:
True and False

False

In [13]:
c>a+b

False

In [14]:
print("Krish")

Krish

In [15]:
"krish"

'krish'

In [16]:
str(23)

'23'

In [17]:
name=input("enter the name")
print(name)

enter the namenone
none

In [2]:
a=float(input("num1"))
b=float(input("num2"))
c=a+b
print("the output {} is this".format(c))

num11
num22
the output 3.0 is this

In [4]:
#strong typing
str(1)+'kri'

'1kri'

In [5]:
lst=['kiran','megha','akkshraj',1,2]
lst

['kiran', 'megha', 'akkshraj', 1, 2]

In [6]:
lst[3]=12

In [7]:
lst

['kiran', 'megha', 'akkshraj', 12, 2]